<section class="mx-10">
  <h1 class="text-3xl">
    {{ country().spaName }}
  </h1>
  <h1 class="text-xl font-thin">
    Population: {{ country().population | number }}
  </h1>
</section>

<section class="stats shadow mx-5">
  <div class="stat place-items-center">
    <div class="stat-title">Population</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">At {{ currentYear() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Name</div>
    <div class="stat-value text-secondary">{{ country().name }}</div>
    <div class="stat-desc text-secondary"> {{ country().region }} </div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Sub Region</div>
    <div class="stat-value">{{ country().subregion }}</div>
    <div class="stat-desc">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Flag</div>
    <div class="stat-value">{{ country().flag }}</div>
    <div class="stat-desc">{{ country().subregion }}</div>
  </div>
</section>

<section class="diff aspect-16/9">
  <div class="diff-item-1" >
    <img [alt]="country().spaName" [src]="country().flagSvg" />
  </div>
  <div class="diff-item-2">
    <img class="blur brightness-75" [alt]="country().spaName" [src]="country().flagSvg" />
  </div>
  <div class="diff-resizer"></div>
</section>

